@font-face {
    font-family: 'Tex Gyre Cursor';
    src: url('texgyrecursor-regular-webfont.eot');
    src: url('texgyrecursor-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('texgyrecursor-regular-webfont.woff') format('woff'),
         url('texgyrecursor-regular-webfont.ttf') format('truetype'),
         url('texgyrecursor-regular-webfont.svg#texgyrecursorregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

