nav.footer-nav
  ul.footer-nav__items
    li.footer-nav__item
      a(href=url_for("about")) About
    li.footer-nav__item
      a(href=url_for("archives")) Archive
    li.footer-nav__item
      a(href="http://github.com/widatama/hexo-jade-starter") Source
    li.footer-nav__item
      a(href=theme.rss ? theme.rss : config.root + "rss2.xml") Feed
