mixin postDate(date)
  span.post__date
    = date.format(config.date_format)

mixin postCategory(categories)

  if categories.length > 0
    | &ensp;in
    span.post__categories
      each category in categories.toArray()
        | &ensp;
        a.post__category(href=url_for(category.path))= category.name
