doctype html
html(lang="en")

  head
    include _partial/site/head

  body
    .site-page
      header.site-header
        .site-masthead
          block site_header
            h1.site__title
              a(href=config.root)= config.title
            p.site__subtitle= config.subtitle

      section.site-body
        block site_body

      footer.site-footer
        block site_footer
          include _partial/site/footer
