extends base

block content

  ul.article-list
    - page.posts.each(function(article){

      li
        article
          h2
            a(href=config.root + article.path)= article.title
          div.meta
            include _partial/article_meta

            +date(article.date)

            +category(article.categories)

    - })

  include _partial/article_list_pagination