mixin date(date)
  = date.format(config.date_format)

mixin category(categories)

  if categories.length > 0
    |  in 
    - categories.each(function(category){
      a(href=config.root + category.path)
        = category.name
      | &ensp;
    - })