section
  nav#footer-menu
    ul
      li
        a(href=config.root + 'about') About
      li
        a(href=config.root + 'archives') Archive
      li
        a(href='http://github.com/widatama/hexo-jade-barebone') Source
      li
        a(href=theme.rss ? theme.rss : config.root + 'atom.xml') Feed